@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

:root {
  --color-primary: #f97316; /* orange-400 */
  --color-background: #f9fafb; /* gray-50 */
  --color-text-primary: #1f2937; /* gray-800 */
  --color-text-secondary: #4b5563; /* gray-600 */
  --color-button-bg: #fb923c; /* orange-400 */
  --color-border: #d1d5db; /* gray-300 */
}

/* Dark mode overrides */
.dark {
  --color-primary: #f97316; /* orange-500 */
  --color-background: #111827; /* gray-900 */
  --color-text-primary: #f3f4f6; /* gray-100 */
  --color-text-secondary: #9ca3af; /* gray-400 */
  --color-button-bg: #ea580c; /* orange-600 */
  --color-border: #374151; /* gray-700 */
}

.text-primary {
  color: var(--color-primary);
}
.bg-primary {
  background-color: var(--color-primary);
}
.text-secondary {
  color: var(--color-text-secondary);
}
.bg-background {
  background-color: var(--color-background);
}
.text-text-primary {
  color: var(--color-text-primary);
}
.text-text-secondary {
  color: var(--color-text-secondary);
}
.border-border {
  border-color: var(--color-border);
}
.bg-button {
  background-color: var(--color-button-bg);
}

@keyframes glowSweep {
  0% {
    left: -30%;
  }
  100% {
    left: 130%;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0px var(--color-primary);
  }
  50% {
    box-shadow: 0 0 20px var(--color-primary);
  }
  100% {
    box-shadow: 0 0 0px var(--color-primary);
  }
}

.animate-glow {
  animation: glow 2s ease-in-out infinite;
}

@keyframes slowGlow {
  0% {
    box-shadow: 0 0 0 rgba(249, 115, 22, 0.4);
  }
  50% {
    box-shadow: 0 0 15px rgba(249, 115, 22, 0.6);
  }
  100% {
    box-shadow: 0 0 0 rgba(249, 115, 22, 0.4);
  }
}

.animate-slow-glow {
  animation: slowGlow 3s ease-in-out infinite;
}

.section-title {
  @apply text-xl font-semibold mb-4 border-b pb-2;
  border-image: linear-gradient(to right, var(--color-primary), transparent) 1;
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

@keyframes float {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-52%, -48%);
  }
  50% {
    transform: translate(-50%, -52%);
  }
  75% {
    transform: translate(-48%, -50%);
  }
}

.animate-float {
  animation: float 20s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
